@charset "UTF-8";
/* loading */
.loading {
  background-color: #353535;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: linear 3s loading-animation;
  top: 0;
}

.loading-logo {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
@keyframes loading-animation {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}
*/
.accueil h2 {
  font-size: 24px;
  font-weight: 700;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.location .location-text {
  display: flex;
  gap: 17px;
  font-family: "Roboto", sans-serif;
}
.location .location-text p {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
}

.call-to-action {
  background-color: #F6F6F6;
  text-align: center;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.call-to-action .call-to-action-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.call-to-action .call-to-action-content p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}

/* Fonctionnement */
.fonctionnement {
  margin: 50px 0;
}
.fonctionnement .fonctionnement-content {
  width: 90%;
  margin: auto;
}

.fonctionnement-categories {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  padding-left: 12px;
}
.fonctionnement-categories .fonctionnement-texte {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 30px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 20px;
}

.numero {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 0;
  transform: translate(-50%, 0);
}

.fonctionnement p {
  font-size: 16px;
  font-weight: 500;
}

/* Restaurants*/
.restaurants {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.restaurants .restaurants-content {
  width: 90%;
  margin: auto;
  display: block;
}

.restaurants-categories {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}
.restaurants-categories article {
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurants-categories article .nouveau-restaurant {
  background-color: #99E2D0;
  color: #008766;
  padding: 10px 20px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 2px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurants-categories article img {
  height: 230px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-categories article .restaurant-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #000;
}

footer {
  background-color: #353535;
  color: #FFF;
  padding: 25px;
}
footer .footer-content {
  gap: 16px;
}
footer .footer-content .logo {
  color: #FFF;
  font-size: 18px;
}
footer .footer-content .footer-text {
  gap: 7px;
}
footer .footer-content .footer-text a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
footer .footer-content .footer-text .footer-link {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer .footer-content .footer-text .footer-link i {
  font-size: 13px;
  width: 12px;
}

/* tablet */
@media all and (min-width: 768px) {
  .call-to-action .call-to-action-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .call-to-action .call-to-action-content h2 {
    font-size: 40px;
  }
  .fonctionnement-categories {
    flex-direction: inherit;
    gap: 35px;
  }
  .restaurants-categories {
    flex-direction: inherit;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants-categories article {
    width: 45%;
  }
  .restaurants-categories article .nouveau-restaurant {
    top: 20px;
    right: 20px;
  }
  footer .footer-content {
    flex-direction: inherit;
    justify-content: flex-end;
    align-items: center;
  }
  footer .footer-content a {
    order: 2;
  }
  footer .footer-content .footer-text {
    flex-direction: inherit;
  }
}
/* Desktop */
@media all and (min-width: 1440px) {
  .fonctionnement, .restaurants {
    padding: 50px 180px;
  }
}
.main-page img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  vertical-align: middle;
}

.restaurant-img-titre {
  position: relative;
}
.restaurant-img-titre .restaurant-titre {
  position: absolute;
  bottom: -1px;
  width: 100%;
  background-color: #F6F6F6;
  padding: 20px 0 0;
  border-radius: 30px 30px 0 0;
  font-family: "Shrikhand";
  font-size: 20px;
}
.restaurant-img-titre .restaurant-titre .restaurant-titre-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.restaurant-img-titre .restaurant-titre .restaurant-titre-heart h2 {
  color: #101010;
  font-size: 28px;
  font-weight: 400;
}

.restaurant-menu {
  background-color: #F6F6F6;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.restaurant-menu section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90%;
  margin: auto;
}
.restaurant-menu section .restaurant-menu-titre h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.restaurant-menu section .restaurant-menu-titre span {
  display: block;
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin-top: 5px;
}
.restaurant-menu section .restaurant-choix {
  background-color: #FFF;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurant-menu section .restaurant-choix div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.restaurant-menu section .restaurant-choix div span {
  font-weight: 700;
}

@media all and (min-width: 768px) {
  .restaurant-img-titre .restaurant-titre .restaurant-titre-heart {
    justify-content: center;
    gap: 30px;
  }
  .restaurant-img-titre .restaurant-titre {
    left: 50%;
    transform: translate(-50%, 0px);
  }
  .restaurant-img-titre .restaurant-titre, .restaurant-menu {
    width: 70%;
    margin: auto;
  }
  .restaurant-menu section {
    width: 80%;
    margin: auto;
  }
}
@media all and (min-width: 1024px) {
  .restaurant-img-titre .restaurant-titre, .restaurant-menu {
    width: 80%;
  }
  .restaurant-menu section {
    width: 70%;
  }
}
/* Accueil Header  */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .logo {
  font-size: 36px;
}

/* Page Header */
.page-header .page-header-content {
  position: relative;
  margin: 0 20px;
  width: 100%;
}
.page-header .page-header-content .logo {
  text-align: center;
}
.page-header .page-header-content .arrow-back {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 40px;
}

footer {
  background-color: #353535;
  color: #FFF;
  padding: 22px 25px;
}
footer .footer-content {
  gap: 16px;
}
footer .footer-content .logo {
  color: #FFF;
  font-size: 18px;
}
footer .footer-content .footer-text {
  gap: 7px;
}
footer .footer-content .footer-text a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
footer .footer-content .footer-text .footer-link {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer .footer-content .footer-text .footer-link i {
  font-size: 13px;
  width: 12px;
}

@media all and (min-width: 768px) {
  footer {
    padding: 30px 25px;
  }
  footer .footer-content {
    gap: 40px;
  }
  footer .footer-content .footer-text {
    gap: 20px;
  }
}
@media all and (min-width: 1024px) {
  footer {
    padding: 30px 50px;
  }
  footer .footer-content {
    gap: 80px;
  }
}
/* Propriétés communes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

/* Btn */
.btn {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 19px;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 1s;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn-page {
  margin-bottom: 40px;
}

.btn-page .btn {
  display: block;
  padding: 15px 50px;
}

/* Heart */
.heart-content {
  position: relative;
  width: 22px;
  height: 21px;
}
.heart-content .heart {
  height: 21px;
  width: 22px;
  position: absolute;
  transform: translate(-51%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}
.heart-content .heart-liked {
  height: 0;
  width: 0;
  transition: all 0.3s linear;
}

.heart-content:hover .heart-liked {
  height: 21px;
  width: 22px;
}/*# sourceMappingURL=style.css.map */