footer {
    background-color: #353535;
    color: #FFF;
    padding: 22px 25px;

    .footer-content {
        gap: 16px;
        a {
            margin: 0;
        }
        .logo {
            color: #FFF;
            font-size: 18px;
        }

        .footer-text {
            gap: 7px;
            
            div {
                display: flex;
                flex-direction: column;
                gap: 7px;  

                a {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;                                
                }
                .footer-link {
                    display: flex;
                    align-items: center;
                    gap: 11px;
                    font-weight: 500;
                }
            }

        } 

    }
}


@media all and (min-width: 768px) {

        
    footer {
        .footer-content {
            flex-direction: inherit;
            justify-content: flex-end;
            align-items: center;
            padding: 30px 25px;
            gap: 40px;
    
            a {
                order: 2;
            }
            .footer-text {
                flex-direction: inherit;
                gap: 30px;

                div {
                    flex-direction: initial;
                    gap: 10px;
                }
            }
        }
    }

}


@media all and (min-width: 1024px) {
    footer {
        padding: 30px 50px;
    }
    footer .footer-content {
        gap: 80px;
    }
    footer .footer-content .footer-text {
        gap: 60px;

        div {
            flex-direction: initial;
            gap: 20px;
        }

    }
}
