.main-page img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    vertical-align: middle;
}

.restaurant-img-titre {
    position: relative;
    
    .restaurant-titre {
        position: absolute;
        bottom: -1px;
        width: 100%;
        background-color: #F6F6F6;
        padding: 20px 0 0;
        border-radius: 30px 30px 0 0;
        font-family: "Shrikhand";
        font-size: 20px;

        .restaurant-titre-heart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: auto;

            h2 {
                color: #101010;
                font-size: 28px;
                font-weight: 400;
            }
        }
    }

}
.restaurant-menu {
    background-color: #F6F6F6;
    padding-top: 40px;   
    display: flex;
    flex-direction: column;
    gap: 40px;

    section {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 90%;
        margin: auto;

        .restaurant-menu-titre {
            
            h3 {
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
            }

            span {
                display: block;
                width: 40px;
                height: 3px;
                background: #99E2D0;
                margin-top: 5px;
            }
        }   


        .restaurant-choix {
            background-color: #FFF;
            border-radius: 20px;
            padding: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;

                span {
                    font-weight: 700;
                }
            }
        }
        
    }

}

/******************animation entrees plats desserts ***********************/

.entrees, .plats, .desserts {
    animation: 2s entrees-plats-desserts-animation;
    animation-fill-mode: both;
}
.entrees {
    animation-delay: 0.5s;
}
.plats {
    animation-delay: 2s;
}
.desserts {
    animation-delay: 3.5s;
}
@keyframes entrees-plats-desserts-animation {
    0% {
        transform: translateY(50%);
        opacity: 0;
       
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/******************animation restaurant-choix ***********************/
.choix-1, .choix-2, .choix-3, .choix-4  {

    animation: 2s restaurant-choix-animation;
    animation-fill-mode: both;
}
/* animation delay entrees choix */
.entrees .choix-1 {
    animation-delay: 0.5s;
}
.entrees .choix-2 {
    animation-delay: 1s;
}
.entrees .choix-3 {
    animation-delay: 1.5s;
}
.entrees .choix-4 {
    animation-delay: 2s;
}

/* animation delay plats choix */
.plats .choix-1 {
    animation-delay: 2s;
}
.plats .choix-2 {
    animation-delay: 2.5s;
}
.plats .choix-3 {
    animation-delay: 3s;
}
.plats .choix-4 {
    animation-delay: 3.5s;
}

/* animation delay desserts choix */
.desserts .choix-1 {
    animation-delay: 3.5s;
}
.desserts .choix-2 {
    animation-delay: 4s;
}
.desserts .choix-3 {
    animation-delay: 4.5s;
}
.desserts .choix-4 {
    animation-delay: 5s;
}


@keyframes restaurant-choix-animation {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


/*******************************************************************/
@media all and (min-width: 768px) {

    .restaurant-img-titre .restaurant-titre .restaurant-titre-heart{
        justify-content: center;
        gap: 30px;
    }

    .restaurant-img-titre .restaurant-titre {
        left: 50%;
        transform: translate(-50%, 0px);
      
    }

    .restaurant-img-titre .restaurant-titre, .restaurant-menu {
        width: 70%;
        margin: auto;
    }

    .restaurant-menu section {
        width: 80%;
        margin: auto;
    }

}


@media all and (min-width: 1024px) {

    .restaurant-img-titre .restaurant-titre, .restaurant-menu {
        width: 80%;
    }

    .restaurant-menu section {
        width: 70%;
    }

}