@import "mixin.scss";
@import "variables.scss";
@import "accueil.scss";
@import "page.scss";
@import "header.scss";
@import "footer.scss";


/* Propriétés communes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: transparent;
}
 
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.logo {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}


/* Bouton */ 

.btn {
    color: #fff; 
    display: inline-block;
    font-size: 16px; 
    font-weight: 500;
    padding: 15px 19px;
    border-radius: 25px;
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    width: max-content;
    margin: auto;
    position: relative;
    overflow: hidden;

    .filter-bg {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
        opacity: 0;
    }
}
.btn:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

    .filter-bg {
        opacity: 0.15;
    }
}

.btn-page {
    margin-bottom: 40px;
}
.btn-page .btn {
    display: block;
    padding: 15px 50px;
}

/* Heart */
.heart-content { 
    position: relative;  
    height: 25px;
    width: 25px;

    .heart {
        height: 24px;
        width: 24px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 1;
        object-fit: contain;
    }
    
    .heart-liked {
        height: 0;
        width: 0;
        transition: all 0.3s linear;
    }

}

.heart-content:hover {
        .heart-liked {
            height: 24px;
            width: 24px;
            z-index: 2;
        }

}


